<ion-content [fullscreen]="true" class="fondouno">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="Logo" src="https://cdn.pixabay.com/photo/2019/06/20/05/44/burger-4286223_640.png" />

  <!-- <ion-button fill="outline" color="dark" (click)="registrarse()">Registrarse</ion-button>
    <ion-button fill="outline" color="dark" (click)="login()">Iniciar Sesión</ion-button>   -->

    <div class="centrar">
      <ion-button fill="outline" color="dark" href="/registro">Registrarse</ion-button>
      <ion-button fill="outline" color="dark" href="/login">Iniciar sesión</ion-button>
    </div>
</ion-content>
