<app-header backButton="/login" title="Recuperar contraseña"></app-header>

<ion-content>

 <div class="d-flex-center">

  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <app-logo></app-logo>
    <app-customizador autocomplete="email"
    icon="mail-outline"
    [control]="form.controls.email"
    type="email"
    label="Correo"></app-customizador>

   <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
    <div *ngIf="form.controls.email.errors?. ['required']">El correo es requerido</div>
    <div *ngIf="form.controls.email.errors?. ['email']">Ingrese un correo válido</div>
   </div>




     <ion-button  expand="block"  mode="ios" class="submit" type="submit" [disabled]="form.invalid">
      Recuperar
     </ion-button>
     

     
  </form>

 </div>



  
</ion-content>
